
body{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

header{
  display: flex;
  justify-content: center;
}


#menu{
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
  position: absolute;
}

.buttonGame{
  display: flex;
  flex-direction: column;
}




#diceCanvas{
  background-color: white;
  height: 150px;
  width: 150px;
  box-shadow: 0 0 30px lightgrey;
}

#player1Section{
  background-color: rgb(240, 240, 240);
}


#main{
  display: flex;
}

.playerSection{
  display: flex;
  width: 50%;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.scoreRound{
  display: flex;
  background-color: rgb(224, 1, 1);
  width: 150px;
  height: 110px;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.Round{
  color: white;
  font-size: 50px;
}

.buttonText{
  font-size: 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
}



.namePlayer{
  font-size: 60px;
}

.globalScore{
  font-size: 120px;
  color: red;
}

.player{
  text-align: center;
}

#inGameButton{
  display: flex;
  height: 180px;
  align-items: center;
  justify-content: space-around;
}

#isPlayer1Active {
  position: absolute;
}

#isPlayer2Active {
  position: absolute;
}
